body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f6;
}

/* home.html */
.home {
  height: 100vh;
  width: 100%;
  background-color: #cfe5c1;
  overflow: hidden;
  padding: 2rem;
}

@media (max-width: 365px) {
  .home {
    height: 120vh;
  }
}


.home-text {
  font-size: 18px;
  font-weight: 400;
  color: #232323;
}

.hover-card {
  padding: 3rem;
  background-color: rgba(251, 251, 251, 0.85);
  box-shadow: 1px 10px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.caption {
  font-size: 2rem;
  font-weight: 500;
  color: #003116;
}

@media (max-width: 575px) {
  .caption {
    font-size: 1.35rem;
  }

  .hover-card {
    padding: 3rem 1.75rem;
  }
}

.btn-light {
  background-color: #ffd41f;
  color: white;
  padding: 0.65rem 1.6875rem;
  font-size: 0.95rem;
  line-height: 1.6;
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 10%);
}

.btn-light:hover {
  background-color: #ffd41f;
  color: white;
}

/* home.html */


