<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{% block title %}{% endblock %}</title>

    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon 2.png') }}"
      type="image/x-icon"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;200;700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
      rel="stylesheet"
    />

    {% block style %}{% endblock %}
    <!-- Custom styles -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="sidenav" id="sidenav">
      <!-- Toggle button -->
      <div
        class="group navbar-toggler d-block d-lg-none"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        onclick="myFunction(this)"
      >
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <div id="content-wrap">
        <div class="text-center">
          <span class="material-icons md-75">account_circle</span>
          <p class="f-name">{{ current_user.name }}</p>
          <p class="f-role"><small>{{current_user.role}}</small></p>
        </div>

        <ul class="menu" id="menu">
          {% if current_user.role == "Zonal Officer" %}
          <li class="side-item">
            <a
              href="{{ url_for('dashboard') }}"
              class="fix {{'active' if request.path == '/dashboard' }}"
            >
              <span class="material-icons"> dashboard </span>
              <span class="mi">Dashboard</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('records') }}"
              class="fix {{'active' if request.path == '/records' }}"
            >
              <span class="material-icons"> folder </span>
              <span class="mi">Records</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('reports') }}"
              class="fix {{'active' if request.path == '/reports' }}"
            >
              <span class="material-icons"> description </span>
              <span class="mi">Reports</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('resources') }}"
              class="fix {{'active' if request.path == '/resources' }}"
            >
              <span class="material-icons"> movie </span>
              <span class="mi">Resources</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('account') }}"
              class="fix {{'active' if request.path == '/account' }}"
            >
              <span class="material-icons"> settings </span>
              <span class="mi">Account</span>
            </a>
          </li>
          {% else %}
          <li class="side-item">
            <a
              href="{{ url_for('dashboard') }}"
              class="fix {{'active' if request.path == '/dashboard' }}"
            >
              <span class="material-icons"> dashboard </span>
              <span class="mi">Dashboard</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('helpers') }}"
              class="fix {{'active' if request.path == '/helpers' }}"
            >
              <span class="material-icons"> people </span>
              <span class="mi">Helpers</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('records') }}"
              class="fix {{'active' if request.path == '/records' }}"
            >
              <span class="material-icons"> folder </span>
              <span class="mi">Records</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('reports') }}"
              class="fix {{'active' if request.path == '/reports' }}"
            >
              <span class="material-icons"> description </span>
              <span class="mi">Reports</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('resources') }}"
              class="fix {{'active' if request.path == '/resources' }}"
            >
              <span class="material-icons"> movie </span>
              <span class="mi">Resources</span>
            </a>
          </li>
          <li class="side-item">
            <a
              href="{{ url_for('account') }}"
              class="fix {{'active' if request.path == '/account' }}"
            >
              <span class="material-icons"> settings </span>
              <span class="mi">Account</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <main id="main" class="p-0">
      <header>
        <nav
          id="main-navbar"
          class="navbar navbar-expand-md bg-white fixed-top"
        >
          <!-- Container wrapper -->
          <div class="container">
            <div>
              <p class="nav-title">GMN - Tombstone Records</p>
            </div>
            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
              <!-- Notification dropdown -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="material-icons md-other"> notifications_active </span>
                  <span class="badge rounded-pill badge-notification bg-danger"
                    >3</span
                  >
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="#">4 New Policies Sold</a>
                  </li>
                </ul>
              </li>
              <!-- Icon -->
              <li class="nav-item dropdown">
                <a
                  class="
                    nav-link
                    dropdown-toggle
                    hidden-arrow
                    d-flex
                    align-items-center
                  "
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="material-icons md-other"> settings </span>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a
                      href="{{ url_for('account') }}"
                      role="link"
                      class="dropdown-item"
                      >Account</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('account') }}"
                      role="link"
                      class="dropdown-item"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('logout') }}"
                      role="link"
                      class="dropdown-item"
                      >Logout</a
                    >
                  </li>
                </ul>
              </li>
              {% if current_user.role != "Zonal Officer" %}
              <li class="nav-item dropdown">
                <a
                  class="
                    nav-link
                    dropdown-toggle
                    hidden-arrow
                    d-flex
                    align-items-center
                  "
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="material-icons md-other"> menu </span>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a
                      href="{{ url_for('new_helper') }}"
                      role="link"
                      class="dropdown-item"
                      >Add New Helper</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('new_record') }}"
                      role="link"
                      class="dropdown-item"
                      >Add New Record</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('new_resource') }}"
                      role="link"
                      class="dropdown-item"
                      >Add New Resource</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('contact_admin') }}"
                      role="link"
                      class="dropdown-item"
                      >Contact Admin</a
                    >
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>

      <div class="main-content px-2 px-md-4">
        {% block body %}{% endblock %}
      </div>

      <footer class="py-3 text-center">
        <p class="mb-0">
          &copy; GMN - Tombstone Records
          <script>
            document.write(new Date().getFullYear());
          </script>
        </p>
      </footer>
    </main>

    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>

    <!-- jquery and Datatables-->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Custom scripts -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/main.js') }}"
    ></script>
    
    {% block script %}{% endblock %}
  </body>
</html>
