{% extends "base.html" %} 

{% block title %} 
Tombstone Records | Contact Admin
{% endblock %} 

{% block style %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.css"
  integrity="sha512-joKDvh+eAWoVNKsL6T1spjb9TUTVLKzp9kD+BsfkKmy3RiwKlBK2A0fqSBmPOG0RW9jTvpNDjkX0Z02d3A6jbA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
  <div id="contact_admin" class="spacing">
    <div class="container">
      <div class="col-lg-10 col-xl-8 mx-auto">
        <div class="table-base">
            <div class="text-center mb-0">
              <p class="title mb-0">Leave A Message</p>
            </div>       
              <div class="px-md-4">
                <form class="form-container upload-form" id="upload-form" method="POST" action="" enctype="multipart/form-data" novalidate>
                  {{ form.hidden_tag() }}
                  
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center text-bold mb-0">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                  <div class="mb-md-4">
                    <div class="row mb-0">
                      <div class="col-md-6 mt-3">
                        <div>
                          {{ form.name(class="form-control", placeholder="Name") }}
                          {% for error in form.name.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                      <div>
                          {{ form.phone(class="form-control", placeholder="Phone Number") }}
                          {% for error in form.phone.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                        <div>
                          {{ form.email(class="form-control", placeholder="Email Address") }}
                          {% for error in form.email.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                        <div>
                          {{ form.subject(class="form-control", placeholder="Message Subject") }}
                          {% for error in form.subject.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-12 mt-3">
                        <div>
                          {{ form.message(class="form-control", placeholder="Message", rows=4) }}
                          {% for error in form.message.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>            
                      <div class="col-md-12 mt-2">                   
                        <div class="custom-file-container" data-upload-id="Uploads">
                          <p class="show2 mt-2 mb-0">Attachments (pdf, doc, docx, jpg, jpeg, png) <a href="javascript:void(0)"
                              class="custom-file-container__image-clear" title="Clear Image">&times;</a></p>
                          <label class="custom-file-container__custom-file">
                            {{ form.attachments(class="custom-file-container__custom-file__custom-file-input", accept=".pdf, .doc, .docx, .png, .jpg, .jpeg") }}                        
                            <span class="custom-file-container__custom-file__custom-file-control"></span>
                          </label>
                          {% for error in form.attachments.errors %}
                          <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                          {% endfor %}
                          <div class="custom-file-container__image-preview"></div>
                        </div>
                      </div>                
                      <div class="col-12 ml-0">
                        {{ form.submit(class="btn btn-user") }}                    
                      </div>
                    </div>
                  </div>
                </form>
              </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.js"
    integrity="sha512-Z41LlJOURucboITRl9uL5Y7GNfyxqS6+i9THsMWsOpvStxQjY/uGmU+5a3+4ddXeHZcUXZTeHI272bZPWkGF3w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
