{% extends "base.html" %} {% block title %} Tombstone Records | Dashboard {%
endblock %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css"
/>
{% endblock %} {% block body %}
<div id="dashboard" class="spacing">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 p-3">
        <div class="table-base">
          <div class="text-center mb-2">
            <p class="title">Recent Departures</p>
          </div>
          <div class="table-responsive">
            <table
              class="table text-nowrap table-sm stable-striped"
              id="recent_departures_table"
            >
              <thead>
                <tr style="color: #083f30">
                  <th scope="col">Name</th>
                  <th scope="col">Zone</th>
                  <th scope="col">Departure Date</th>
                  <th scope="col">Entry Date</th>
                </tr>
              </thead>
              <tbody>
                {% for item in recent %}
                <tr class="add">
                  <td>{{ item.name }}</td>
                  <td>{{ item.zone }}</td>
                  <td>{{ item.dod.strftime('%B %d, %Y') }}</td>
                  <td>{{ item.timestamp.strftime('%B %d, %Y') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">          
          <div class="col-lg-7 px-3">
            <div class="table-base mt-4">
              <div class="text-center mb-2">
                <p class="title">Records Summary By Year</p>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Year 2017</span>
                <span class="dash-text2 ml-auto">{{ helpers }} Entries</span>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Year 2018</span>
                <span class="dash-text2">{{ circles }} Entries</span>
              </div>
            </div>
          </div>

          <div class="col-lg-5 px-3">
            <div class="table-base mt-4">
              <div class="text-center mb-2">
                <p class="title">Quick Summary</p>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Platform Helpers</span>
                <span class="dash-text">{{ helpers }}</span>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Circles</span>
                <span class="dash-text">{{ circles }}</span>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">All Departed Records</span>
                <span class="dash-text">{{ record_no }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 p-3">
        <div class="table-base">
          <div class="text-center mb-2">
            <p class="title">Recent Reports</p>
          </div>
          <div class=""></div>
        </div>

        <div class="table-base mt-4">
          <div class="text-center mb-2">
            <p class="title">Pending Tombstones</p>
          </div>
          <div class="table-responsive">
            <table
              class="table text-nowrap table-sm stable-striped"
              id="pending_tombstones_table"
            >
              <thead>
                <tr style="color: #083f30">
                  <th scope="col">Name / Zone</th>
                  <th scope="col">Departure Date</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in pending %}
                <tr class="add">
                  <td>{{ entry.name }}<br>({{ entry.zone }})</td>
                  <td>{{ entry.dod.strftime('%B %d, %Y') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"
></script>
<script>
  $(document).ready(function () {
    $("#").DataTable();
  });
</script>
{% endblock %}
