{% extends "base.html" %}

{% block title %}
Stencil Application | Dashboard
{% endblock %}

{% block body %}
<div id="dashboard"> 
  <div class="container">
    <p>We received your email request! Someone from our team will get back to you within the next 48 hours (2 business
      days).
      We are here to serve you… and always strive to make marketing & technology easy for you. Please note our team is
      available during regular business hours Monday-Friday 9am – 5pm EST. Any support requests received outside of
      business
      hours will be attended within 48 hours of business hours resuming.</p>
  </div>  
</div>
{% endblock %}