{% extends "base.html" %} 

{% block title %} 
Tombstone Records | Dashboard 
{% endblock %} 

{% block body %}
<div id="dashboard" class="spacing">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 p-3">
        <div class="table-base">
          <div class="text-center mb-2">
            <p class="title">Recent Departures</p>
          </div>
          <div class="table-responsive">
            <table
              class="table text-nowrap table-sm stable-striped"
              id="recent_departures_table"
            >
              <thead>
                <tr style="color: #083f30">
                  <th scope="col">Name</th>
                  <th scope="col">Zone</th>
                  <th scope="col">Departure Date</th>
                  <th scope="col">Entry Date</th>
                </tr>
              </thead>
              <tbody>
                {% for item in recent %}
                <tr class="add">
                  <td>{{ item.name }}</td>
                  <td>{{ item.zone }}</td>
                  <td>{{ item.dod.strftime('%B %d, %Y') }}</td>
                  <td>{{ item.timestamp.strftime('%B %d, %Y') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

              
        <div class="">
          <div class="table-base mt-4">
            <div class="text-center mb-2">
              <p class="title">Records Summary By Year</p>
            </div>
            <canvas id="myChart"></canvas>
          </div>
        </div>      
      </div>

      <div class="col-lg-4 p-3">
        <div class="table-base">
          <div class="text-center mb-2">
            <p class="title">Recent Reports</p>
          </div>
          <div class=""></div>
        </div>

        <div class="table-base mt-4">
          <div class="text-center mb-2">
            <p class="title">Pending Tombstones</p>
          </div>
          <div class="table-responsive">
            <table
              class="table text-nowrap table-sm stable-striped"
              id="pending_tombstones_table"
            >
              <thead>
                <tr style="color: #083f30">
                  <th scope="col">Name / Zone</th>
                  <th scope="col">Departure Date</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in pending %}
                <tr class="add">
                  <td>{{ entry.name }}<br>({{ entry.zone }})</td>
                  <td>{{ entry.dod.strftime('%B %d, %Y') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="table-base mt-4">
              <div class="text-center mb-2">
                <p class="title">Quick Summary</p>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Platform Helpers</span>
                <span class="dash-text">{{ helpers }}</span>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Circles</span>
                <span class="dash-text">{{ circles }}</span>
              </div>
              <div class="d-flex align-items-baseline">
                <span class="dash-caption">Records</span>
                <span class="dash-text">{{ record_no }}</span>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['2017', '2018', '2019', '2020', '2021'],
        datasets: [{
            label: 'No. of Records',
            data: [8, 11, 3, 5, 2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(153, 102, 255, 0.4)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}
