{% extends "base.html" %}

{% block title %}
Tombstone Records | Helpers
{% endblock %}

{% block style %}
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock %}

{% block body %}
  <div id="helpers" class="spacing"> 
    <div class="container">
      <div class="table-base">
        <div class="text-center mb-2">
          <p class="title">Platform Helpers</p>
        </div>
        <div class="table-responsive">
          <table class="table text-nowrap table-striped" id="helpers_table">
            <thead>
              <tr style="color: #083f30; font-size: 1.05rem;">
                <!-- <th scope="col">No.</th> -->
                <th scope="col">Name</th>
                <th scope="col">Contact Details</th>
                <th scope="col">Zone / Circle</th>
                <th scope="col">Role</th>
                <th scope="col">Date Added</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for helper in helpers %}
              <tr class="add">               
                  <!-- <th scope="row">{{ helper.id }}</th> -->
                  <td>{{ helper.name }}</td>
                  <td>{{ helper.phone }} / {{ helper.email }}</td>
                  <td>{{ helper.zone }} / {{ helper.circle }}</td>
                  <td>{{ helper.role }}</td>
                  <td>{{ helper.timestamp.strftime('%B %d, %Y') }}</td>
                  {% if helper.role == "Admin" %}
                    <td><a href="#!" class="del2" tabindex="-1" role="button" aria-disabled="true">Delete</a></td>
                  {% else %}
                    <td>
                      <a href="/helper/edit/{{ helper.name }}" class="edit" role="button">Edit</a> / 
                      <a data-mdb-toggle="modal" type="button" data-mdb-target="#deleteModal" class="del">Delete</a>
                    </td>
                    
                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="formModalLabel2" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="text-center p-3" style="font-size: 18px;">
                              <span class="warning">Are you sure you want to delete this helper?</span>?
                            </div>
                            <div class="d-flex justify-content-center">
                              <div class="mx-3 py-3">
                                <button type="button" class="btn btn-success" data-mdb-dismiss="modal" aria-label="Close">Cancel</button>
                                <a href="/helper/delete/{{ helper.name }}" class="btn btn-danger" role="button">Proceed</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}                               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-lg-6 mx-auto mt-4">
          <a class="btn btn-user btn-lg btn-block fix-in" href="{{ url_for('new_helper') }}" role="button">
            Add New Helper
          </a>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#helpers_table').DataTable();
    });
  </script>
{% endblock %}