{% extends "base.html" %} 

{% block title %} 
Tombstone Records | New Helper 
{% endblock %} 

{% block body %}
<div id="new-helper" class="spacing">
  <div class="container">
    <div class="col-lg-10 col-xl-8 mx-auto">
      <div class="table-base">
        <div class="text-center mb-0">
          <p class="title mb-0">New Record</p>
        </div>
        <div class="px-md-4">
          <form action="" method="POST" novalidate>
          {{ form.hidden_tag() }} {% with messages =
          get_flashed_messages(with_categories=true) %} {% if messages %} {% for
          category, message in messages %}
          <div class="alert alert-{{ category }} text-center text-bold mb-0">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %}
          <div class="row pt-2">
            <div class="col-md-6 mt-3">
              <div>
                {{ form.name.label(class="form-label mb-0")}}
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                <span style="color: orangered; font-size: 13px"
                  >{{ error }}</span
                >
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                {{ form.circle.label(class="form-label mb-0")}}
                {{ form.circle(class="form-control form-select") }} 
                {% for error in form.circle.errors %}
                <span style="color: orangered; font-size: 13px">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                {{ form.zone.label(class="form-label mb-0")}}
                {{ form.zone(class="form-control form-select") }} 
                {% for error in form.zone.errors %}
                <span style="color: orangered; font-size: 13px">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                {{ form.dob.label(class="form-label mb-0")}}
                {{ form.dob(class="form-control") }}
                {% for error in form.dob.errors %}
                <span style="color: orangered; font-size: 13px">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                {{ form.dod.label(class="form-label mb-0")}}
                {{ form.dod(class="form-control") }} 
                {% for error in form.dod.errors %}
                <span style="color: orangered; font-size: 13px">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div>
                {{ form.yop.label(class="form-label mb-0")}}
                {{ form.yop(class="form-control") }} 
                {% for error in form.yop.errors %}
                <span style="color: orangered; font-size: 13px">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-12 mt-3">
              <div>
                {{ form.cemetry.label(class="form-label mb-0")}}
                {{ form.cemetry(class="form-control") }} 
                {% for error in form.cemetry.errors %}
                <span style="color: orangered; font-size: 13px"
                  >{{ error }}</span
                >
                {% endfor %}
              </div>
            </div>
            <div class="col-12 my-4">
              {{ form.submit(class="btn btn-records btn-lg btn-block") }}
            </div>
          </div>
        </form>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock %}
