{% extends "base.html" %} {% block title %} Stencil Application | Records {%
endblock %} {% block style %}
<link
  href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<div id="records" class="spacing">
  <div class="container">
    <div class="table-base">
      <div class="text-center mb-2">
        <p class="title">Tombstone Records</p>
      </div>
      <div class="table-responsive">
        <table class="table text-nowrap" id="records-table">
          <thead>
            <tr style="color: #083f30">
              <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Birth Date</th>
              <th scope="col">Departure Date</th>
              <th scope="col">Zone / Circle</th>
              <th scope="col">Stencil</th>
              <th scope="col">
                Year of Tombstone<br />Installation / Facelift
              </th>
              <th scope="col">Cemetry Location</th>
              <th scope="col">Entry Date</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
            <tr class="add">
              <th scope="row">{{ record.id }}</th>
              <td>{{ record.name }}</td>
              <td>{{ record.dob }}</td>
              <td>{{ record.dod }}</td>
              <td>{{ record.zone}} / {{ record.circle }}</td>
              <td>
                <a class="" href="" target="_blank" role="button" rel="noopener noreferrer">
                  <span class="material-icons"> description </span>
                  <p>Download Form</p> 
                </a>
              </td>
              <td>{{ record.yop }}</td>
              <td>{{ record.cemetry }}</td>
              <td>{{ record.timestamp.strftime('%B %d, %Y') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-lg-6 mx-auto mt-4">
        <a
          class="btn btn-user btn-lg btn-block my-2"
          href="{{ url_for('new_record') }}"
          role="button"
        >
          Add New Record
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"
></script>
{% endblock %}
