{% extends "base.html" %}

{% block title %}
Tombstone Records | Resources
{% endblock %}

{% block style %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div id="resources" class="spacing"> 
    <div class="container">
      <div class="mb-2">
        <p class="title">Video Resources</p>
      </div>      
      <div class="row mb-3">
      {% for video in videos %}
          <div class="col-md-4 col-lg-3 p-3">
            <div class="vid-base text-center">
               <a href="{{ video.link }}" data-lity role="link">
                 <img src="{{ url_for('static', filename='images/thumbnail.jpg') }}" class="w-100" alt="Video thumbnail">
               </a>
               <p class="video-caption px-3 py-2">{{ video.title }}</p> 
            </div>          
          </div>               
      {% endfor %}
      </div>

      <div class="mt-5">
        <p class="title">PDF Files</p>
      </div>
      <div class="row mt-4">
        {% for pdf in pdfs %}          
          <div class="col-md-3 col-xl-2 p-3 p-xl-1">
            <div class="text-center">
              <a href="{{ pdf.link }}" target="_blank" role="link">
                <img src="{{ url_for('static', filename='images/svg/pdf-icon.svg') }}" width="80" alt="Pdf icon">
              </a>
              <p class="video-caption px-4 pt-3">{{ pdf.title }}</p>
            </div>
          </div>          
        {% endfor %}
      </div>
    </div>  
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.js"></script>
{% endblock %}