{% extends "base.html" %}

{% block title %}
Stencil Application | Resources
{% endblock %}

{% block style %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div id="resources" class="spacing"> 
    <div class="container">
      <div class="text-center mt-4 mb-2">
        <p class="title">Video Resources</p>
      </div>      
      <div class="row justify-content-center">
      {% for resource in resources %}
        {% if resource.type == "Video File" %}
        <div class="col-md-6 col-lg-4 p-3">
          <div class="vid-base p-0">
            <a href="{{ resource.link }}" data-lity role="link" class="w-100"></a>
            <p class="px-4 pt-3 pb-4">{{ resource.title }}</p>           
          </div>          
        </div>
        {% endif %}
      {% endfor %}
      </div>

      <div class="text-center mt-5">
        <p class="title">Documents</p>
      </div>
      <div class="row justify-content-center">
        {% for resource in resources %}
          {% if resource.type == "PDF File" %}
          <div class="col-md-3 col-xl-2 p-4">
            <div class="text-center">
              <a href="{{ resource.link }}" role="link">
                <span class="material-icons md-50"> description </span>
              </a>
              <p class="px-4 pt-3 pb-4">{{ resource.title }}</p>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>  
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.js"></script>
{% endblock %}